@import 'normalize';

body {
	color: $dark-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
	color: $dark-gray;
}

p {
	margin: $base-spacing-unit 0;
}

a {
	color: $dark-gray;

	&:hover,
	&:focus {
		color: $almost-black;
	}
}
