.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid $silver;
	margin-top: $double-spacing-unit;
	padding: $base-spacing-unit 0;
}

.navigation-item {

}

.navigation-item-prev {
	align-self: left;

	&::before { 
		content:"\00ab"; 
	}
}

.navigation-item-next {
	align-self: right;

	&::after { 
		content:"\00bb"; 
	}
}