---
layout: default
---
{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

<div class="container">
  <h2>Posts</h2>
  <ol type="I" reversed="reversed" class="block-list">
    {% for post in site.posts %}
      <li class="list-item">
        <time datetime="" class="list-item-date">{{ post.date | date: date_format }}</time>
        <a class="list-item-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">
          <h3 class="list-item-title">{{ post.title }}</h3>
        </a>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ol>
</div>
